<div class="row user-header-div">
	<div class="four columns">
		<div class="panel">
			<div class="six columns">
				<a href="#" class="th"><img src="<%= @user.image %>" class="twelve columns"></a>
			</div>
			<div class="six columns">
				<h4 style="margin-top: -2%"><%= @user[:name] %></h4>
				<h5 class="subheader"><%= @user[:location] %></h5>
				<%= @auth.inspect %>
			</div>
		</div>
	</div>
</div>

<div class="row user-pages-div">
	<div class="three columns">
		<div class="twelve columns">
			<h4>Pages:</h4>
			<% @user.pages.each do |page|%>
				<h5 class="subheader"><%= link_to page[:name], page_path(page), :method => "get", :style=>"color:grey" %></h5>
			<% end %>
		</div>
	</div>
</div>

<%= will_paginate @media %>
<div class="row recent-media-div">
	<div class="twelve columns">
		<div class="twelve columns">
			<h4>Recently Added:</h4>
		</div>
		<div id="masonry-container" class="masonry media_div infinite-scroll clearfix">
			<% for medium in @media %>
				<% unless medium["type"].nil? %>
					<% if medium["type"] == "youtube" %>
						<%= render :partial => "videos/show", :locals => {:video => medium, :poll_redis => false} %>
					<% elsif medium["type"] == "soundcloud" %>
						<%= render :partial => "sounds/show", :locals => {:sound => medium} %>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
