<div class="user-header-div row">
	<div class="four columns">
		<div class="panel twelve columns">
				<div class="six columns">
					<a href="#" class="th"><img src="<%= @user.image %>" class="twelve columns"></a>
				</div>
				<div class="six columns">
					<h4 style="margin-top: -2%"><%= @user[:name] %></h4>
					<h5 class="subheader"><%= @user[:location] %></h5>
					<h5 class="subheader"><%= @user.pages.length %> pages</h5>
					<h5 class="subheader"><%= @user.media.length %> boxes</h5>
				</div>
		</div>
	</div>
	<div class="four columns">
		<h4>Recent Activity</h4>
	<% @feed.each do |story| %>
		<h5 class="subheader"><%=raw ERB.new(story).result(binding) %></h5>
	<% end %>
	</div>
	<div class="four columns end">
			<h4 class="twelve columns" style="margin-left: 2%">Pages</h4>
			<% @user.pages.each do |page|%>
				<div class="three columns end" style="margin: 2%"><span class="round label secondary"><%= link_to page[:name], page_path(page), :method => "get" %></span></div>
			<% end %>
	</div>
</div>

<%= will_paginate @media %>
<div class="row recent-media-div">
	<div class="twelve columns">
		<div class="twelve columns">
			<h4>Recently Added</h4>
		</div>
		<div id="masonry-container" class="masonry media_div infinite-scroll clearfix">
			<% for medium in @media %>
				<% unless medium["type"].nil? %>
					<% if medium["type"] == "youtube" %>
						<%= render :partial => "videos/show", :locals => {:video => medium, :poll_redis => false} %>
					<% elsif medium["type"] == "soundcloud" %>
						<%= render :partial => "sounds/show", :locals => {:sound => medium} %>
					<% end %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
