<% poll_redis %>
<div class="row">
	<div class="yt_parent box col3" data-uploaded="<%= video['uploaded']%>" data-loading ="true" data-start="<%= video['start']%>" style="margin-bottom: 25px; border-radius: 0px; background: white;">
		<div class="title-div">
			<h5><%= video['title'] %></h5>
		</div>
		<div class="row">
			<div class="<%= video['aspect_ratio'] unless video['aspect_ratio'].nil? %>_overlay overlay">
			</div>
			<div class="twelve columns">
				<iframe id="<%= video['yt_id'] %>" class="yt-video <%= 'poll-redis' if poll_redis %> <%= video['aspect_ratio'] unless video['aspect_ratio'].nil? %>" src="http://www.youtube.com/embed/<%= video['yt_id']%>?enablejsapi=1&start=<%= video['start'] %>&controls=0&autoplay=1&modestbranding=1&rel=0&showinfo=0&html5=1&vq=small&hd=0" frameborder="0" allowscriptaccess="always"></iframe>
			</div>
		</div>
		<div class="info-div row" style="margin-top: 2%; margin-left: -3pt">
			<div class="twelve columns">
				<p><%= video['description'] %></p>	
			</div>
		</div>
		<div class="row">
			<div class="twelve columns" style="margin-bottom: 4%; margin-left: 2%">
				<% unless video['tags'].nil? %>
					<% video['tags'].split(",").each do |tag| %>
						<%= link_to "##{tag}","/tags/#{tag}", :class => "tag"%>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="twelve columns user-info" style="width: 102%">
			<div class="twelve columns" style="margin-left: -8%">
				<div class="four columns">
					<%  user_image = User.find_by_name("#{video['user']}").image unless video['user'].nil? %>
					<a href="#" class="th"><img src="<%=user_image %>"></a>
				</div>
				<div>
					<p style="font-size: 9pt"><%= video['user'] %> on <%= Time.at(video['uploaded'].to_i).to_date %></p>
				</div>
			</div>
		</div>
	</div>
</div>