<div class="media-form"> 
	<h2>Copy and Paste a URL From Soundcloud or Youtube: </h2>
	<%= form_tag("/videos", :method => "post", :remote => :true) do %>
		<%= label_tag(:url, "Media Url") %>
	 	<%= text_field_tag(:url) %>
		<%= label_tag(:start_minutes, "Start Minutes") %>
		<%= text_field_tag(:start_minutes) %>
		<%= label_tag(:start_seconds, "Start Seconds") %>	
		<%= text_field_tag(:start_seconds) %>
	 	<%= submit_tag("Submit", :class => "submit-button") %>
	<% end %>
</div>