<script>
	(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=504167816300624";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>

<div class="row">
	<div class="twelve columns">
		<h2><%= video['title'] %></h2>
	</div>
</div>
<div class="row">
	<div class="twelve columns">
		<iframe class="twelve columns" height="285px" id="<%= video['id'] %>_zoom" class="yt-zoom"  src="http://www.youtube.com/embed/<%= video['id']%>?controls=0&autoplay=1&modestbranding=1&rel=0&showinfo=0&hd=1" frameborder="0"></iframe>
	</div>
</div>

<div class="twelve columns">
	<h4 class="subheader"><%= video['description'] %></h4>
</div>
<div class="twelve columns">
	<div class="fb-comments" data-href="<%=request.protocol+ request.host_with_port + request.fullpath %>" data-num-posts="4" data-width="500" data-colorscheme="light"></div>
</div>

<a class="close-reveal-modal">&#215;</a>