<div id="login_div">
	<% if current_user %>
	  Signed in as <%= current_user.name %>
	  <%= link_to "Sign Out", signout_path %>
	<% else %>
	  <%= link_to "Sign in with Facebook", "/auth/facebook" %>
	<% end %>
</div>
<% unless current_user.nil? %>
	<% if current_user.id == 1 || current_user.id == 2 %>
		<div class="flush-db-button">
			<%= form_tag "videos/flush_db" do %>
				<%= password_field_tag :password %>
				<%= submit_tag "clear db" %>
			<% end %>
		</div>
	<% end %>
<% end %>
<div class = "search_form">
	<%= render :partial => 'video_form' %>
</div>

<div id="masonry-container" class="centered clearfix masonry videos_div">
<% @videos.each_with_index do |video, i| %>
	<% unless video["type"].nil? %>
	<% if video["type"] == "youtube" %>
		<div class="yt_parent box col4" data-uploaded="<%= video['uploaded']%>" data-start="<%= video['start']%>">
			<div class="title-div"><%= video['title'] %> </div>
			<div class="overlay <%= video['aspect_ratio'] unless video['aspect_ratio'].nil? %>_overlay"></div>
				<iframe id="<%= video['yt_id'] %>" class="yt-video <%= video['aspect_ratio'] unless video['aspect_ratio'].nil? %>" src="http://www.youtube.com/embed/<%=video['yt_id']%>?enablejsapi=1&start=<%= video['start'] %>&controls=0&autoplay=0&modestbranding=1&rel=0&showinfo=0&html5=1&vq=small&hd=0&amp;wmode=transparent" frameborder="0"></iframe>
			<div class="info-div">
				<table class="info-table">
					<tr><td><%= video['description'] %></td></tr>
				</table>
				<div class="info-user">
					<div class="user-thumbnail">
					<%  user_image = User.find_by_name("#{video['user']}").image unless video['user'].nil? %>
					<img src="<%=user_image %>" style="height:30px; width:30px">
					</div>
					<div class="user-submit-date"><%= video['user'] %> on <%= Time.at(video['uploaded'].to_i).to_date %></div>
				</div>
			</div>
		</div>
	<% elsif video["type"] == "soundcloud" %>
		<div class="sc_parent box col3" data-uploaded="<%= video['uploaded']%>">
			<div class="title-div"><%= video['title'] %> </div>
			<div class="sc_overlay"></div>		
				<object height="90" width="97%" data-start="<%= video['start'] %>" id="<%= video['sc_id'] %>" class="sc-player"   classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
				  <param name="movie" value="http://player.soundcloud.com/player.swf?url=<%= video['url']%>&enable_api=true&auto_play=true&single_active=false&object_id=<%= video['sc_id'] %>"></param>
				  <param name="allowscriptaccess" value="always"></param>
				  <embed allowscriptaccess="always" height="90" src="http://player.soundcloud.com/player.swf?url=<%= video['url']%>&sharing=false&buying=false&liking=false&download=false&show_artwork=false&show_comments=false&show_playcount=false&show_user=false&enable_api=true&auto_play=true&single_active=false&object_id=<%= video['sc_id'] %>" type="application/x-shockwave-flash" width="97%" name="<%= video['sc_id'] %>"></embed>
				</object>
			<div class="info-div">
				<table class="info-table">
					<tr><td><%= video['description'] %></td></tr>
				</table>
				<div class="info-user">
					<div class="user-thumbnail">
					<%  user_image = User.find_by_name("#{video['user']}").image unless video['user'].nil? %>
					<img src="<%=user_image %>" style="height:30px; width:30px">
					</div>
					<div class="user-submit-date"><%= video['user'] %> on <%= Time.at(video['uploaded'].to_i).to_date %></div>
				</div>
			</div>
		</div>
	<% end %>
<% end %>
<% end %>
</div>