<div class="add-link-div twelve columns"> 
	<h4 class="subheader">Copy and paste a valid Soundcloud or Youtube URL, and specify when you'd like your media to start playing.</h4>
	<%= form_tag("/media/preview", :remote => :true) do %>
		<div class="row">
			<div class="six columns">
				<%= text_field_tag(:url, nil, :placeholder => "Copy and Paste a Soundcloud or Youtube URL") %>
			</div>
			<div class="six columns">
				<div class="four columns">
					<%= text_field_tag :start_minutes, nil, :placeholder =>"Minutes" %>
				</div>
				<div class="four columns">
					<%= text_field_tag :start_seconds, nil, :placeholder => "Seconds" %>
				</div>
				<div class="four columns">
					<%= hidden_field_tag :page_id, page_id %>
					<%= submit_tag("Preview", :class => "button secondary") %>
				</div>
			</div>
		</div>
	</div>

<% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>

