<div class="page-form-div"> 
	<h2>Create a New Page: </h2>
	<%= form_tag("/pages", :method => "post", :class => "custom") do %>
		<%= label_tag :name, "Page Name" %>
		<%= text_field_tag :name %><br/>
		<%= label_tag :category_name, "Category" %>
		<%= select(nil, "category_id", Category.all.collect {|cat| [ cat.name, cat.id ] }, { :include_blank => true }) %>
		<%= submit_tag("Create Page", :class => "button secondary") %>
	<% end %>
</div>

