<div class="row" style="margin-top: -10%">

		<% if @recent_pages.nil? %>
			<div class="twelve columns">
				<div class="row" style=" margin-bottom: 1%">
					<h2> #<%= @tag %> </h2>
				</div>
			</div>
		<% end %>
		<div class="paginate-div">
			<%= will_paginate @media %>
		</div>
	<div class="media_div ten columns" style="margin-top: 1%">	
			<div class="index-header-div">
				<h2 class="glyph general one columns end" style="color: #FF5457; font-size: 20pt; margin-top: 6px; margin-left: 0px">l</h2>
				<h3 class="three columns end" style="margin-left: -4%">Live Feed</h3>
				<div class="eight columns end filter-search-div" style="margin-top: 15px">
					<div class="four columns">
						<input type="text" id="tag-search"/>
					</div>
					<div class="eight columns" id="selected-tags">
					</div>
				</div>
			</div>
		<div id="masonry-container" class="masonry media_div infinite-scroll clearfix polling-enabled" data-page_id="index" data-query="<%= @recent_pages.nil? ? @tag : false %>">
			<% for medium in @media %>
				<% unless medium["type"].nil? %>
					<% if medium["type"] == "youtube" %>
						<%= render :partial => "videos/show", :locals => {:video => medium, :poll_redis => false} %>
					<% elsif medium["type"] == "soundcloud" %>
						<%= render :partial => "sounds/show", :locals => {:sound => medium} %>
					<% end %>
				<% end %>
			<% end %>	
		</div>
	</div>
	<div class="row two columns end">
		<div class="vertical-rule"></div>
		<div class="twelve columns side-panel-div" style="width: 109%">
			<h4 class="glyph social two columns" style="color: #FF5457; font-size: 18pt; line-height: 0pt; margin-left: -10%">a</h4><h5 class="ten columns" style="margin-top: 3pt; color: #545052;">Recommended</h5>
		<% unless @ranked_pages.nil? %>
			<% @ranked_pages.each_with_index do |page, i| %>
		      		<div class="subheader twelve columns side-panel" style="font-size: 13pt"><%= link_to "#{i+1}. #{page[:name]}", page_path(page), :method => "get", :style => "color: #5E5E5E" %></div>
			<% end %>
		<% else %>
			<div class="subheader twelve columns side-panel" style="font-size: 13pt; padding: 1%;">Rate More Content to Receive Page Recommendations!</div>
			
		<% end %>
			<div class="twelve columns">
				<hr class="twelve columns horizontal-rule">
			</div>
			<h4 class="glyph general two columns" style="color: #FF5457; font-size: 18pt; line-height: 0pt; margin-top: -5pt; margin-left: -10%">o</h4><h5 class="ten columns" style="color: #545052; margin-top: -7pt">Trending</h5>
		<% unless @trending_tags.nil? %>
			<div class="twelve columns">
				<% @trending_tags.each do |tag| %>
		      		<div class="subheader" style="font-size: 15pt; margin-left: -10%"><%= link_to "##{tag}", "#", :onclick => "triggerFilter(#{tag.to_json});" , :class=>"side-panel", :style => "color: #5E5E5E"%></div>
					
				<% end %>
			</div>
		<% end %>		
		</div>
	</div>
</div>