<div class="row">

		<% if @recent_pages.nil? %>
			<div class="twelve columns">
				<div class="row" style=" margin-bottom: 1%">
					<h2> #<%= @tag %> </h2>
				</div>
			</div>
		<% end %>
		<%= will_paginate @media %>
	<div class="media_div ten columns">
		<h2 class="glyph general one columns end" style="color: #D66540; font-size: 20pt; margin-top: 6px; margin-left: 0px">l</h2>
		<h3 class="two columns end" style="margin-left: -4%">Live Feed</h3>
		<div id="masonry-container" class="masonry media_div infinite-scroll clearfix polling-enabled" data-page_id="index" data-query="<%= @recent_pages.nil? ? @tag : false %>">
			<% for medium in @media %>
				<% unless medium["type"].nil? %>
					<% if medium["type"] == "youtube" %>
						<%= render :partial => "videos/show", :locals => {:video => medium, :poll_redis => false} %>
					<% elsif medium["type"] == "soundcloud" %>
						<%= render :partial => "sounds/show", :locals => {:sound => medium} %>
					<% end %>
				<% end %>
			<% end %>	
		</div>
	</div>
	<div class="row two columns end">
		<div class="row" style="min-height: 600px; box-shadow: inset 5px 0 5px -5px #676767;">
			<h4 class="glyph social two columns" style="color: #D66540; font-size: 18pt; line-height: 15pt">a</h4><h5 class="ten columns">Recommended</h5>
		<% unless @ranked_pages.nil? %>
			<% @ranked_pages.each_with_index do |page, i| %>
		      		<h6 class="subheader twelve columns"><%= i+1 %>. <%= link_to page[:name], page_path(page), :method => "get" %></h6>
			<% end %>
		<% else %>
			<h5 class="subheader twelve columns">Rate More Content to Receive Page Recommendations!</h5>
		<% end %>
			<h4 class="glyph general two columns" style="color: #D66540; font-size: 18pt; line-height: 5pt">o</h4><h5 class="ten columns">Trending</h5>
		<% unless @trending_tags.nil? %>
			<div class="twelve columns">
				<% @trending_tags.each do |tag| %>
		      		<div class="subheader" style="font-size: 15pt"><%= link_to "##{tag} ","/tags/#{tag}"%></div>
				<% end %>
			</div>
		<% end %>		
		</div>
	</div>
</div>