<div class="row">
	<div class="sc_parent box col3" data-uploaded="<%= sound['uploaded']%>" style="background: white; border-radius: 0px;">
		<div class="row">
			<% unless current_user.nil? %>
				<%= render :partial => "media/rating_div", :locals => {:medium => video} %>
			<% end %>
			<div clas="twelve columns">	
				<object height="90" width="87%" data-start="<%= sound['start'] %>" id="<%= sound['id'] %>" class="sc-player"   classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000">
					<param name="movie" value="http://player.soundcloud.com/player.swf?url=<%= sound['url']%>&enable_api=true&auto_play=true&single_active=false&object_id=<%= sound['id'] %>"></param>
					<param name="allowscriptaccess" value="always"></param>
					<embed allowscriptaccess="always" height="90" src="http://player.soundcloud.com/player.swf?url=<%= sound['url']%>&sharing=false&buying=false&liking=false&download=false&show_artwork=false&show_comments=false&show_playcount=false&show_user=false&enable_api=true&auto_play=true&single_active=false&object_id=<%= sound['id'] %>" type="application/x-shockwave-flash" width="87%" name="<%= sound['id'] %>"></embed>
				</object>
			</div>
		</div>
		<div class="info-div row" style="margin-top: 2%; margin-left: -3pt">
			<div class="twelve columns">
				<p><%= sound['title'] %></p>	
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<% unless sound['tags'].nil? %>
					<% sound['tags'].split(",").each do |tag| %>
						<%= link_to "##{tag}","/tags/#{tag}", :class => "tag"%>
					<% end %>
				<% end %>
			</div>
		</div>
		<div class="twelve columns user-info" style="width: 102%">
			<div class="twelve columns" style="margin-left: -8%">
				<div class="three columns">
					<%  user_image = User.find_by_name("#{sound['user']}").image unless sound['user'].nil? %>
					<a href="#" class="th"><img src="<%=user_image %>" style="border: 3px solid transparent"></a>
				</div>
				<div>
					<p style="font-size: 9pt"><%= sound['user'] %> on <%= Time.at(sound['uploaded'].to_i).to_date %></p>
				</div>
			</div>
		</div>
	</div>
</div>