<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  
	<!-- Included CSS Files -->
	<%= stylesheet_link_tag    "application" %>
	
	<!-- Included JS Files  -->
	<%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" %>
	<%= javascript_include_tag "application" %>

  
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="outer">
	<%= render :template => 'layouts/nav_bar.html.erb' %>
  		<%= yield %>
		<div class="loader row" style="display:none">
			<div class="ten columns" style="margin-left: 30%">
				<%= render :partial => "media/loader" %>
			</div>
		</div>
		<div id="page-form-modal" class="reveal-modal [expand, xlarge, large, medium, small]">
	  		<%= render :partial => 'pages/page_form' %>
	  		<a class="close-reveal-modal">&#215;</a>
		</div>
	</div>
	<% if current_user.nil? %>
	<%= javascript_tag "$('#outer').addClass('overlayed')" %>
		<div id="welcome-modal" class="reveal-modal xlarge" style="display: block; visibility: visible; border-radius: 8px; padding: 2%; background: ##E8E8E8">
			<%= render :partial => 'media/welcome' %>
			<a class="close-reveal-modal" onclick="$('#welcome-modal').fadeOut('fast'); $('#outer').removeClass('overlayed')">&#215;</a>
		</div>
	<% end %>
</body>

</html>