<ul class="nav-bar" style="margin-top: 0px">
	<li><a id="logo" href="/">Huuvr</a></li>
	<li><a href="#" data-reveal-id="page-form-modal">New Page</a></li>
	<li class="has-flyout">
		<a href="#">Categories</a>
		<a href="#" class="flyout-toggle"><span> </span></a>
		<ul class="flyout">
			<% Category.find_each do |cat| %>
			<li><%= link_to cat[:name], "/pages/?category_id=#{cat[:id]}" , :style=> "padding: 3%"%></li>
			<% end %>
		</ul>
	</li>
	<li class="search four columns" >
		<%= form_tag(search_media_path, :method => "get", :class => "nav-form") do %>
			<div class="eight columns">
				<%= text_field_tag :query, nil, :placeholder => "Search for Category, Page, Media, or User" %>
			</div>
			<div class="four columns">
				<%= submit_tag "search", :class => "button secondary radius", :style => "height: 25pt; line-height: 10pt;" %>
			</div>
		<% end %>
	</li>
	<% if current_user %>
	<li class="has-flyout" style="float: right">
		<a href="#">Signed in as <%= current_user.name %></a>
		<a href="#" class="flyout-toggle"><span> </span></a>
		<ul class="flyout">
			<li><%= link_to "Sign Out", signout_path %></li>
			<li><%= link_to "View Profile", user_path(current_user.id) %></li>
		</ul>
	</li>
	<% else %>
		<li style="float: right; border-right: none">
			<%= link_to "/auth/facebook" do %>
				<%= image_tag "facebook_login.png", :width => "200", :style=>"margin-top: 8%" %>
			<% end%>
		</li>
	<% end %>
</ul>